
#profile-button {
	position: relative;
	width: 100px;
	height: 100px;
	border: none;
	background: url("/images/profile-paper-texture.webp") no-repeat center/cover;
	border-radius: 1rem;
}

#profile-button::before {
	content: "";
	position: absolute;
	inset: 0;
	border-radius: 10px;
	padding: 3px;
	background: var(--profile-picture) no-repeat center/cover;
	filter: sepia(70%) saturate(120%) hue-rotate(-10deg) brightness(95%) contrast(90%);
	opacity: 70%;
	pointer-events: none;
}

#profile-button::after {
	content: "";
	position: absolute;
	inset: 0;
	border-radius: 10px;
	padding: 3px;
	background: linear-gradient(45deg, #ccc, #fff, #999, #eee);
	mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
	-webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
	-webkit-mask-composite: destination-out;
	mask-composite: exclude;
	pointer-events: none;
	z-index: 2;
}
