#team-profile {
	position: relative;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/wood-texture.jpg"), no-repeat center/cover;
	border-radius: 1rem;
	padding: 1rem;
	flex: 1;
	display: flex;
	flex-direction: column;
	height: 100%;
}

#team-profile::after {
	content: "";
	position: absolute;
	inset: 0;
	border-radius: 10px;
	padding: 3px;
	background: linear-gradient(45deg, #ccc, #fff, #999, #eee);
	mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
	-webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
	-webkit-mask-composite: destination-out;
	mask-composite: exclude;
	pointer-events: none;
}

#team-profile .team-name {
	margin: 0;
	font-size: 20px;
	width: 100%;
	text-align: center;
	flex: 1;
	overflow: hidden;
}

#team-profile .team-level {
	display: flex;
	gap: 5px;
	align-items: center;
}

#team-profile .team-level > span {
	white-space: nowrap;
}

#team-profile .progress-bar {
	overflow: hidden;
    border-radius: 99999px;
	position: relative;
	width: 100%;
	height: 30px;
	background-color: #0005;
}

#team-profile .progress-bar::after {
	content: "";
	position: absolute;
	inset: 0;
	border-radius: 99999px;
	padding: 2px;
	background: linear-gradient(45deg, #ccc, #fff, #999, #eee);
	mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
	-webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
	-webkit-mask-composite: destination-out;
	mask-composite: exclude;
	pointer-events: none;
}

#team-profile .progress-bar .progress-zone {
	position: absolute;
	/* background: linear-gradient(#00c853 0%, #00c853 65%, #009624 65%, #009624 100%); */
	background: linear-gradient(to bottom, #00c957 0%, #00913b 45%, #004d1b 100%);
	border-radius: 99999px;
	height: 100%;
	width: 100%;
}

#team-profile .progress-bar .team-xp {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	text-align: center;
}