#login-page {
	width: 100%;
	height: 100%;
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("images/app-background.jpg") no-repeat center/cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.login-title {
	text-align: center;
}

.login-link {
	outline: none;
	display: inline-flex;
	align-items: center;
	border-radius: 0.25rem;
	vertical-align: middle;
	line-height: 1.25rem;
	user-select: none;
	transition-property: background-color, color;
	transition-duration: .2s;
	height: 2.5rem;
	padding-inline: 1rem;
	gap: 0.5rem;
	background: white;
}

.login-link:is(:hover, :focus-visible) {
	background-color: #EEE;
}

.login-warning {
	font-weight: 700;
	margin-bottom: 15px;
	text-align: center;
	padding-inline: 50px;
}

.login-link img {
	object-fit: cover;
	height: 50%;
	user-select: none;
}
