#app {
	position: absolute;
	inset: 0;
}

#app-content {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#overlay {
	position: fixed;
	inset: 0;
	pointer-events: none;
	z-index: 9999;
}

#overlay>* {
	pointer-events: auto;
}

.play-page {
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("images/app-background.jpg");
	background-size: cover;
	background-position: center;
	font-family: "Uncial Antiqua", system;
}

.play-page :is(h1, h2, h3) {
	font-family: monospace;
}
