#app {
	position: absolute;
	inset: 0;
}

#app-content {
	width: 100%;
	height: 100%;
}

#overlay {
	position: fixed;
	inset: 0;
	pointer-events: none;
	z-index: 9999;
}

#overlay>* {
	pointer-events: auto;
}

.play-page {
	background: url("images/app-background.jpg");
	background-size: cover;
	background-position: center;
}
